.primary {
    height: 600px;
}

.primary video {
    width: 100%;
    height: 100%;
}

.secondary {
    font-size: 0.8rem;
    line-height: 1.2rem;
    white-space: normal;
}

.secondary .list {
    align-items: center;
    margin-bottom: 8px;
}

.secondary .list img {
    width: 100%;
}